<footer class="site-footer pl-3 pr-2">
    <div class="footer-container ">
      <div class="row ">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p> Welcome to my project demo </p>
          <p class="text-justify">.</p>
        </div>
        <div class="col-sm-12 col-md-6 p-2">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="/client">Clients</a></li>
            <li><a href="/address">Address</a></li>
            <li><a href="/project">Projects</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>

    <div class="footer-container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved
          </p>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><img src="/public/images/title-icon.jpg" alt="LinkedIn" /></a></li>
            <li><a class="twitter" href="#"><img src="/public/images/title-icon.jpg" alt="LinkedIn" /></a></li>
            <li><a class="dribbble" href="#"><img src="/public/images/title-icon.jpg" alt="LinkedIn" /></a></li>
            <li><a class="linkedin" href="#"><img src="/public/images/title-icon.jpg" alt="LinkedIn" /></a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>