<nav class = "shift">
    <div class="col-md-2 bg-light full-height-col">
        <ul class="nav flex-column custom-nav">
            <li class="nav-item">
            <a class="nav-link reset <%= title === 'Dashboard' ? 'active-menu-item' : '' %>" href="/reset">db reset</a>
            </li>
            <ul class="nav flex-column custom-nav">


                
                <li class="nav-item">
                <a class="nav-link <%= title === 'Clients' ? 'active-menu-item' : '' %>" href="/client">Clients</a>
                </li>               
                <li class="nav-item">
                <a class="nav-link <%= title === 'Project' ? 'active-menu-item' : '' %>" href="/project">Projects</a>
                </li>
                
            </ul>
        </ul>
    </div>
</nav>

<script>
  $(document).ready(function() {
    $('.reset').on('submit', function(e) {
      e.preventDefault();  // Prevents the default form submission

      $.ajax({
        url: '/reset', // The backend route/API endpoint
        method: 'POST',
        success: function(response) {
          $('#addClientModal').modal('hide');
          window.location.href = '/client';// Refresh the page, mvp
        },
        error: function(error) {
          alert('Failed to add client. Please try again.');
        }
      });
    });


  });
</script>