<!-- <div class="name-tag-container">
  <div class="name-and-icons">
    <span class="name">Liheng Yi</span>
    <div class="icon-container p-2 pb-0">

      <a class="btn btn-outline-light btn-floating" href="https://www.linkedin.com/in/liheng-yi" role="button">
        <i class="fab fa-linkedin-in"></i>
      </a>

      <a class="btn btn-outline-light btn-floating" href="https://github.com/Liheng-Yi" role="button">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
</div> -->



<div class="button-container-1">
  <div class="mas">LihengYi
    <div class="outericon">
      <a class="btn btn-outline-light btn-floating" href="https://github.com/Liheng-Yi" role="button">
        <i class="fab fa-github"></i>
      </a>
      <a class="btn btn-outline-light btn-floating" href="https://www.linkedin.com/in/liheng-yi" role="button">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
  </div>
  
  <div class="underbtn">
    <div class="under-name">&nbsp;&nbsp;LihengYi
      <div class="outericon">
        <a class="btn btn-outline-light btn-floating" href="https://github.com/Liheng-Yi" role="button">
          <i class="fab fa-github"></i>
        </a>
        <a class="btn btn-outline-light btn-floating" href="https://www.linkedin.com/in/liheng-yi" role="button">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>
  </div>
</div>
